# 依赖包
node_modules/

# 环境变量（数据库密码、JWT密钥禁止上传）
.env
.env.local

# 用户上传图片目录（头像、封面）
public/images/cover/*
public/images/avatar/*
public/images/editor/*
!public/images/cover/default.jpg
!public/images/avatar/default.jpg
!public/images/avatar/admin.webp


# 日志文件
*.log
logs/

# 编辑器、系统文件
.vscode/
.DS_Store
Thumbs.db
